<div class="container d-flex justify-content-center align-items-center" style="padding: 30px 15px">
  <div class="card" style="width: 300px;">
    <div class="user text-center">
      <div class="profile"> <img src="assets/avatar.png" class="rounded-circle" width="80"> </div>
    </div>
    <div class="mt-5 text-center" class="patient-user-info__content">

      <div>
        <p class="mb-0"><b>{{patient?.firstName}} {{patient?.lastName}}</b></p>
      </div>
      <div>
        <p class="mb-0"><b>Birth date:</b> </p>
        <span>{{patient?.birthDate | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div>
        <p class="mb-0"><b>Gender:</b> </p>
        <span>{{gender}}</span>
      </div>
      <div>
        <p class="mb-0"><b>Is Active?</b> </p>
        <span>{{patient?.isActive}}</span>
      </div>

    </div>
  </div>
</div>
