<div class="card">
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>Claim</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let claim of claims">
                    <tr>
                        <td>{{claim.name}}</td>
                        <td id="claim-{{claim.name}}">{{claim.value}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>