<div class="card mb-3">
  <div class="card-body p-1 m-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Patients</li>
      </ol>
    </nav>
  </div>
</div>

<div class="alert alert-warning" *ngIf="patients?.length==0; else resultsTable">No records found.</div>



<ng-template #resultsTable>
  <div class="row">
    <div class="col-md-8">
      <span (click)="create()" class="btn btn-primary btn-xs">New Patient</span>
    </div>
  </div><br />

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>
        </th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let patient of patients; index as i">
        <tr>
          <td class="col-2">
            <button type="button" class="btn btn-primary" routerLink="/patient/visualize/{{patient.id}}">
              Visualize
            </button>
          </td>
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>

          <td>
            <i-bs name="pencil-square" width="30" height="30" (click)="update(patient)">
            </i-bs>

          </td>
          <td>
            <i-bs (click)="delete(patient)" name="trash" width="30" height="30">
            </i-bs>
          </td>

        </tr>
      </ng-container>
    </tbody>
  </table>

  <pagination [totalItems]="patients.length"></pagination>

</ng-template>
