<div class="card mb-3">
  <div class="card-body p-1 m-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-1">
        <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Patients</li>
      </ol>
    </nav>
  </div>
</div>

<div class="alert alert-warning" *ngIf="patients?.length==0; else resultsTable">No records found.</div>

<ng-template #resultsTable>

  <div class="row mb-3">
    <div class="d-flex justify-content-between">
      <button type="button" (click)="create()" class="btn btn-primary btn-xs" title="New Patient">New Patient</button>
      <div class="pt-3">
        Page {{pageNumber}} of {{totalPages}}
      </div>
      <div class="pt-3">Total Results: {{totalResults}}</div>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col" class="col-1 text-center"></th>
        <th scope="col" class="col-1 text-center"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let patient of patients; index as i">
        <tr>
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-secondary" (click)="update(patient)" title="Edit Patient">
              <i-bs name="pencil-square"></i-bs>
            </button>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-danger" (click)="delete(patient)" title="Delete Patient">
              <i-bs name="trash"></i-bs>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="d-flex justify-content-between">
    <pagination [ngModel]="pageNumber" [totalItems]="totalResults" [itemsPerPage]="pageSize" [maxSize]="20"
      [rotate]="true" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" (numPages)="getTotalPages($event)">
    </pagination>
    <div class="row">
      <div class="col-auto pt-1">
        <label class="form-label">Page Size</label>
      </div>
      <div class="col-auto">
        <select class="form-control" [(ngModel)]="pageSize" (change)="onPageSizeChange()" title="Page Size">
          <ng-container *ngFor="let size of pageSizes">
            <option [value]="size">{{size}}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>

</ng-template>