<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <div class="container">
        <div class="d-flex justify-content-between p2">
            <a routerLink="/">
                <img src="./assets/ciox-health-logo.png" style="width: 100px" />
            </a>

            <div class="dropdown" *ngIf="(authService.authState$ | async)?.isAuthenticated">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser">
                    <li class="dropdown-item">
                        <a routerLink="/dashboard/profile">Profile</a>
                    </li>
                    <li class="dropdown-item">
                        <a (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>