<form class="form-horizontal" id="add-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id" />
  <div class="card">
    <div class="card-header text-white bg-primary">
      <h4 *ngIf="isReadonly">View Patient</h4>
      <h4 *ngIf="isEditable">Edit Patient</h4>
      <h4 *ngIf="isNew">New Patient</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="row mb-2">
            <label class="col-md-2 col-form-label">First Name</label>
            <div class="col-md-10">
              <input type="text" [readonly]="isReadonly" class="form-control" placeholder="First Name"
                aria-placeholder="First Name" formControlName="firstName" />
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-2 col-form-label">Last Name</label>
            <div class="col-md-10">
              <input type="text" [readonly]="isReadonly" placeholder="Last Name" aria-placeholder="Last Name"
                class="form-control" formControlName="lastName" />
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-2 col-form-label">Birthdate</label>
            <div class="col-md-10">
              <input [attr.disabled]="isReadonly ? '' : null" type="text" formControlName="birthDate"
                placeholder="Select your birthdate" class="form-control" bsDatepicker
                [bsConfig]="{ containerClass: 'theme-default' }" />
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-md-2 col-form-label">Gender</label>
            <div class="col-md-10">
              <select [attr.disabled]="isReadonly ? '' : null" class="form-select" aria-label="Select your gender"
                formControlName="gender">
                <option selected value="">Select a gender</option>
                <option value="0">{{PatientGender.NOT_SET}}</option>
                <option value="1">{{PatientGender.MALE}}</option>
                <option value="2">{{PatientGender.FEMALE}}</option>
              </select>
            </div>
          </div>
          <div class="row ps-3">
            <div class="form-check">
              <input formControlName="isActive" [attr.disabled]="isReadonly ? '' : null" class="form-check-input"
                type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault" aria-label="Is Active">
                Is Active
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-left">
      <button type="button" class="btn btn-secondary me-3" (click)="back()">
        Back
      </button>
      <button *ngIf="!isReadonly" type="submit" class="btn btn-primary" [disabled]="form.invalid">{{isEditable ?
        'Update' : 'Create'}}</button>
      <button *ngIf="isReadonly" type="button" class="btn btn-primary" (click)="edit()">Edit</button>
    </div>
  </div>
</form>
