<div class="card mb-2">
  <div class="card-body">

    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter patient's name" maxlength="50"
            [(ngModel)]="quickSearchQuery" [typeahead]="suggestedPatients$" [typeaheadScrollable]="true"
            [typeaheadMinLength]="3" [typeaheadOptionsLimit]="7" typeaheadOptionField="lastName"
            [typeaheadItemTemplate]="customItemTemplate" [typeaheadAsync]="true"
            (typeaheadNoResults)="typeaheadOnNoResults($event)" (typeaheadLoading)="changeTypeaheadLoading($event)"
            (typeaheadOnSelect)="typeaheadOnSelect($event)" />
          <span class="input-group-text" id="basic-addon1">
            <i-bs name="search"></i-bs>
          </span>
        </div>
      </div>
      <div class="col-auto m-0">
        <div *ngIf="typeaheadLoading">Loading...</div>
        <div class="text-danger" *ngIf="typeaheadNoResults">No Results Found</div>
      </div>
    </div>

    <ng-template #customItemTemplate let-model="item" let-index="index">
      {{ model.firstName}} {{ model.lastName}}
    </ng-template>

  </div>
</div>

<div class="alert alert-warning" *ngIf="patients?.length === 0; else resultsTable">No records found.</div>


<ng-template #resultsTable>

  <div class="row mb-3">
    <div class="d-flex justify-content-between">
      <button type="button" (click)="new()" class="btn btn-primary btn-xs" title="New Patient">New Patient</button>
      <div class="pt-3">
        Page {{pageNumber}} of {{totalPages}}
      </div>
      <div class="pt-3">Total Results: {{totalResults}}</div>
    </div>
  </div>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" class="col-3">
          <app-sort-link columnName="First Name" [currentSortBy]="sortBy" sortBy="firstName"
            [sortDirection]="sortDirection" (event)="onSort($event)">
          </app-sort-link>
        </th>
        <th scope="col" class="col-4">
          <app-sort-link columnName="Last Name" [currentSortBy]="sortBy" sortBy="lastName"
            [sortDirection]="sortDirection" (event)="onSort($event)">
          </app-sort-link>
        </th>
        <th scope="col" class="col-2">
          <app-sort-link columnName="BirthDate" [currentSortBy]="sortBy" sortBy="birthDate"
            [sortDirection]="sortDirection" (event)="onSort($event)">
          </app-sort-link>
        </th>
        <th scope="col" class="col-1 text-center"></th>
        <th scope="col" class="col-1 text-center"></th>
        <th scope="col" class="col-1 text-center"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let patient of patients; index as i">
        <tr>
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td>{{patient.birthDate | date:'MM/dd/yyyy'}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-primary" (click)="view(patient)" title="View Patient">
              <i-bs name="eye"></i-bs>
            </button>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-secondary" (click)="edit(patient.id)" title="Edit Patient">
              <i-bs name="pencil-square"></i-bs>
            </button>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-danger" (click)="delete(patient)" title="Delete Patient">
              <i-bs name="trash"></i-bs>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="d-flex justify-content-between">
    <pagination [ngModel]="pageNumber" [totalItems]="totalResults" [itemsPerPage]="pageSize" [maxSize]="20"
      [rotate]="true" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" (numPages)="getTotalPages($event)">
    </pagination>
    <div class="row">
      <div class="col-auto pt-1">
        <label class="form-label">Page Size</label>
      </div>
      <div class="col-auto">
        <select class="form-control" [(ngModel)]="pageSize" (change)="onPageSizeChange()" title="Page Size">
          <ng-container *ngFor="let size of pageSizes">
            <option [value]="size">{{size}}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>

</ng-template>